* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    background-color: #F6F7F8;
}

.start {
    display: flex;
    justify-content: center;
}

.start-logo {
    display: flex;
    justify-content: center;
    padding-top: 345px;
    width: 274px;
    height: 334.07;
}
