.add-task-page main {
    width: calc(100dvw - 328px) !important;
}

.container {
    position: absolute;
    align-items: center;
    background: #F6F7F8;
    border: none;
    max-width: calc(1920px - 328px);
    width: -webkit-fill-available;
    padding: 110px 96px 0 96px;
}

h1 {
    font-size: 61px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-top: 10px;
    margin-bottom: 40px;
    height: auto;
}

.form-column-left,
.form-column-right {
    height: auto;
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.divider {
    width: 1px;
    margin-left: 16px;
    background-color: #ccc;
    height: auto;
    align-self: stretch;
    margin-top: 25px;
}

.star {
    color: #FE8997;
    font-weight: bold;
    padding-bottom: 16px;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.date-input {
    position: relative;
    display: flex;
    align-items: center;
}

.date-input input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
}

.date-input .calendar-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.calendar-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.calendar-button img {
    width: 20px;
    height: 20px;
    padding-right: 6px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

#assigned {
    width: 100%;
    padding-right: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    pointer-events: none;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

textarea {
    height: 136px;
    resize: vertical;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

#category {
    width: 100%;
    padding-right: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.prio-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
}

.prio-buttons button {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 16px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    align-items: center;
    gap: 8px;
    color: black;
    background-color: white;
    border: 1px solid #d1d1d1;
    font-weight: normal;
    transition: background-color 0.3s, transform 0.2s, border-color 0.3s;
}

.prio-buttons button:hover {
    background-color: #f4f4f4;
    border-color: #bfbfbf;
    color: black;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}

.prio-buttons .active {
    color: white;
}

.prio-buttons .active img {
    filter: brightness(0) invert(1);
}

.urgent.active {
    background-color: #FF3D00;
}

.medium.active {
    background-color: #FFA800;
}

.low.active {
    background-color: #7AE229;
}

.medium img {
    filter: invert(40%) sepia(90%) saturate(500%) hue-rotate(3deg);
}

.medium.active img {
    filter: brightness(0) invert(1);
}

input:invalid:focus,
textarea:invalid:focus,
select:invalid:focus {
    border: 1px solid red !important;
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.5) !important;
    outline: none !important;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid #5EC0E9 !important;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #b0b0b0;
    opacity: 1;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 10px 75px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.subtask-btn {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    transition: background-color 0.1s ease-in-out;
    background-color: white;
}

.subtask-btn:hover {
    background-color: #F6F7F8;
}

.subtask-btn:focus {
    box-shadow: none !important;
}

.plus-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../assets/icons/addTask-add-symbol.svg);
    background-size: 14px;
}

.add-subtask-btn {
    background-image: url(../assets/icons/addTask-add-task-button.svg);
}

.clear-subtask-btn {
    background-image: url(../assets/icons/addTask-clear-input-button.svg);
}

.subtask-separator {
    width: 1px;
    height: 24px;
    background-color: #D1D1D1;
}

.subtask-nav {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 4px;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}

.clear,
.create {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 16px;
}

.clear {
    font-weight: 500 !important;
    font-size: 20px;
    line-height: 25.2px;
    width: 110px;
    height: 56px;
    padding: 10px !important;
}

#clear-button:hover #clear-icon {
    content: url("../assets/icons/clear-btn-hover.svg");
}

.create {
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.2px;
    width: 183px;
    height: 56px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 150ms;
}

.create:hover {
    background-color: #01aed5;
}

.create:disabled {
    cursor: not-allowed !important;
}

.note {
    font-size: 18px;
    color: black;
    font-weight: normal;
    margin-bottom: 16px;
}

.field-required {
    display: flex;
    align-items: center;
    color: #D9534F;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    margin-top: -25px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

input.invalid {
    border: 1px solid red;
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.5);
}

.add-task-overlay {
    backdrop-filter: brightness(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 1000;
}

.add-task-overlay-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-task-overlay-header h1 {
    margin: 0;
}

.add-task-overlay-container {
    background: #F6F7F8;
    padding: 40px;
    border: none;
    width: 976.25px;
    border-radius: 30px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.add-task-overlay-container.show {
    transform: translateX(0);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.sk-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subtask-buttons {
    display: none;/
}

.subtask-buttons button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

.subtask-input-wrapper.show-buttons .subtask-buttons {
    display: flex;
}

.custom-dropdown {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
}

.selected-option {
    padding: 10px;
    border-radius: 8px;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 0 2px 0;
}

.dropdown-item:last-child {
    margin-bottom: 0;
}

.dropdown-avatar-and-name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.dropdown-item:hover {
    background: #f4f4f4;
}

.dropdown-options {
    scrollbar-color: #A8A8A8 transparent;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1.5px solid white;
    margin: 0 !important;
}

.assigned-user-checkbox {
    width: 16px;
    height: 16px;
    background-image: url(../assets/icons/assigned-user-checkbox.svg);
    background-size: 16px;
    background-repeat: no-repeat;
}

.dropdown-item.selected {
    background-color: #2A3647;
    color: white;
}

.dropdown-item.selected .assigned-user-checkbox {
    background-image: url('../assets/icons/assigned-user-checkbox-checked.svg');
}

.dropdown-item.selected:hover {
    background-color: #091931;
}

.selected-contacts-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 8px;
    min-height: 40px;
}

#subtask-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    max-height: 60px;
    overflow-y: auto;
    margin: 6px 0 0 0;
    min-height: 60px;
}

#subtask-list li {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    border-radius: 8px;
    padding: 3px 10px 3px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    list-style: none;
}

#subtask-list li::before {
    content: "•";
    color: black;
    font-size: 18px;
    position: absolute;
    left: 10px;
}

#subtask-list li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.subtask-actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.subtask-actions button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #eeeeee;
}

.subtask-actions img {
    width: 18px;
    height: 18px;
}

.subtask-actions {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 8px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.subtask-item:hover .subtask-actions {
    opacity: 1;
}

.subtask-actions button:hover {
    scale: 105%;
    cursor: pointer;
}

.edit-subtask-nav {
    position: absolute;
    right: 10;
    display: flex;
    align-items: center;
    gap: 4px;
}

.edit-input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.edit-input-wrapper input.subtask-edit-input {
    all: unset;
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 4px 75px 4px 10px;
    background-color: white;
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #005DFF !important;
    box-sizing: border-box;
}

.edit-subtask-nav {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 4px;
}

.delete-edit-subtask-btn {
    background-image: url(../assets/icons/delete.svg);
}

.extra-users {
    display: flex;
    align-items: center;
}

#datepicker {
    background-image: url(../assets/icons/calender.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}


.assigend-to-group {
    margin-bottom: 10px;
}

@media (max-width: 1500px) {
   .container {
    padding: 10px 96px 0 96px;
    max-height: 80vh;
    overflow-y: auto;
    }

    html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden; 
}
}

@media (max-width: 1200px) {
    .form-column-right {
        padding-top: 20px;
    }

    .container {
    padding: 10px 96px 0 96px;
    }

    .prio-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .prio-buttons button {
        padding: 8px 10px;
    }

    .add-task-overlay-container {
        height: 750px;
        width: 800px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 8px 96px 0 96px;
    }

    .form-container {
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
    }

    .divider {
        display: none;
    }

    .form-column-left {
        width: -webkit-fill-available;
    }

    .form-column-right {
        padding-top: 0;
        width: -webkit-fill-available;
    }

    .field-required {
        margin-top: 0;
        margin-bottom: 85px;
    }

    .buttons {
        justify-content: center;
        margin-top: 0;
    }

    .add-task-overlay-container {
        overflow: auto;
        width: 600px;
    }

    .add-task-overlay-container::-webkit-scrollbar {
    display: none;
}
}

@media (max-width: 768px) {
    .add-task-page main {
        padding: 0 !important;
    }

    .container {
        padding: 8px 16px 84px 16px;
    }

    .container h1 {
        font-size: 47px;
        font-weight: 700;
        line-height: 120%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .form-column-left,
    .form-column-right {
        padding: 0;
    }

    .add-task-overlay-header h1 {
        font-size: 32px !important;
        margin: 0 !important;
    }

     .add-task-overlay-container {
        box-sizing: border-box;
        padding: 16px 8px;
        height: 643px;
        width: 300px;
    }

    .add-task-overlay-container .form-container {
        gap: 35px;
    }

     .add-task-overlay-container .form-group {
        margin-top: 35px;
        margin-bottom: 0;
    }
}