.btn-dark {
  box-sizing: border-box;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  padding: 15px 24px 15px 24px;
  transition: all 125ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.btn-dark:hover {
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
  border: none;
}

.btn-light {
  box-sizing: border-box;
  background-color: white;
  color: rgba(42, 54, 71, 1);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  padding: 15px 24px 15px 24px;
  border: solid 1px;
  border-color: rgba(42, 54, 71, 1);
  transition: all 125ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.btn-light:hover {
  border: solid 2px;
  border-color: rgba(41, 171, 226, 1);
  color: rgba(41, 171, 226, 1);
  box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
}
