body {
  max-width: 1920px;
  overflow-x: hidden;
  overflow: hidden;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 0 64px !important;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 79.5px 79.5px 0 0;
}

.search-and-add {
  display: flex;
  align-items: center;
  gap: 32px;
}

.search-input {
  position: relative;
  display: flex;
}

.search-input input {
  height: 45px;
  width: 312px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  padding: 16px 64px 16px 16px;
  font-weight: 400;
  font-size: 20px;
}

.search-input input:focus {
  border-color: rgba(41, 171, 226, 1);
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input-icons {
  position: absolute;
  right: 16px;
  display: flex;
  height: 45px;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.search-btn-container {
  position: relative;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn-container:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #e2e6ec;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.board {
  position: relative;
}

.no-results {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 16px !important;
}

.column {
  height: calc(100vh - 200px);
}

.column-header {
  margin: 48px 0 24px 0;
}

#boardCardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.board-card-detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 48px 40px;
  gap: 24px;
}

.tilt-animation {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 1000;
}

/*---RESPONSIVE---*/

@media screen and (min-width: 1921px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }

  h1 {
    font-size: 64px;
  }

  .top-bar {
    margin: 96px 96px 0 96px;
  }

  .board {
    position: relative;
    width: 95%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
  }

  .card-container {
    flex: 1;
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding-bottom: 12px;
  }

  .card-container>.card:last-child {
    margin-bottom: 80px;
  }

  .card-container::-webkit-scrollbar {
    width: 8px;
  }

  .card-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
  }

  .card-container::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {
  h1 {
    font-size: 61px;
  }

  .search-input input {
    width: 312px;
  }

  .board {
    position: relative;
    width: 95%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
  }

  .card-container {
    flex: 1;
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding-bottom: 12px;
  }

  .card-container>.card:last-child {
    margin-bottom: 80px;
  }

  .card-container::-webkit-scrollbar {
    width: 8px;
  }

  .card-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
  }

  .card-container::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media screen and (min-width: 1125px) and (max-width: 1200px) {
  h1 {
    font-size: 54px !important;
    margin: 0 0 0 25px !important;
  }

  h2 {
    font-size: 16px !important;
  }

  .board {
    margin: 0 24px !important;
    width: 95% !important;
    gap: 14px !important;
  }

  .column-header {
    font-size: 16px !important;
  }

  .search-input input {
    width: 220px !important;
    font-size: 20px;
  }

  .card-category {
    font-size: 14px !important;
    display: flex;
  }

  .card-title {
    font-size: 16px !important;
  }

  .card-description {
    font-size: 16px !important;
  }

  .board {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
  }

  .card-container {
    flex: 1;
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding-bottom: 12px;
  }

  .card-container>.card:last-child {
    margin-bottom: 80px;
  }

  .card-container::-webkit-scrollbar {
    width: 8px;
  }

  .card-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
  }

  .card-container::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media screen and (min-width: 769px) and (max-width: 1124px) {
  h1 {
    font-size: 44px !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
  }

  h2 {
    font-size: 20px !important
  }

  body {
    overflow-y: auto !important;
  }

  main {
    width: auto !important;
    height: auto !important; 
  }

  .search-and-add {
    gap: 10px;
  }

  .card {
    flex: 0 0 auto !important;
    width: 252px;
    height: 263px;
  }

  .column {
    min-height: 60vh !important;
  }

  .column-header {
    font-size: 16px !important;
    width: 282px;
  }

  .top-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    gap: 12px;
    margin-left: 25px;
  }

  .add-task-btn {
    position: absolute;
    right: 16px;
    top: 4px;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 8px !important;
  }

  .add-task-btn span {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }

  .add-task-btn img {
    width: 22px;
    height: 32px;
    font-weight: 100;
  }

  .search-and-add {
    width: 100%;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search-input {
    width: 100%;
  }

  .search-input input {
    width: 100%;
    font-size: 16px;
    padding: 12px 48px 12px 12px;
  }

  .search-input-icons {
    right: 12px;
  }

  .board-card-detail-container {
    padding: 40px;
  }

  .card-category {
    font-size: 16px !important;
    display: flex;
  }

  .board {
    margin: 0 44px !important;
    flex-direction: column;
    padding-bottom: 80px !important;
  }

  .card-container {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
    gap: 16px;
    scroll-behavior: smooth;
    padding-bottom: 12px;
  }

  .add-card {
    width: 30px !important;
    height: 30px !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 44px !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
  }

  h2 {
    font-weight: 700 !important;
    font-size: 27px !important;
    margin: 4px;
  }

  .search-and-add {
    gap: 10px;
  }

  body {
    overflow-y: auto !important;
  }

  .card {
    flex: 0 0 auto !important;
    width: 252px;
    height: 263px;
  }

  .main {
    width: 100% !important;
  }

  .column {
    min-height: 42vh !important;
  }

  .column-header {
    width: 85vw;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .top-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 90vw;
    margin-top: 44px;
  }

  .add-task-btn {
    position: absolute;
    right: 16px;
    top: 4px;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 8px !important;
  }

  .add-task-btn span {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }

  .add-task-btn img {
    width: 22px;
    height: 32px;
    font-weight: 100;
  }

  .search-and-add {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search-input {
    width: 100%;
  }

  .search-input input {
    width: 100%;
    font-size: 16px;
    padding: 12px 48px 12px 12px;
  }

  .search-input-icons {
    right: 12px;
  }

  .board-card-detail-container {
    padding: 40px;
  }

  .card-category {
    font-size: 16px !important;
    display: flex;
  }

  .board {
    flex-direction: column;
    width: 90vw;
    padding-bottom: 100px !important;
    margin-left: 5px !important;
  }

  .card-container {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    gap: 16px;
    scroll-behavior: smooth;
    padding-bottom: 12px;
  }

  .add-card {
    width: 30px !important;
    height: 30px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 44px !important;
    margin-left: 4px !important;
  }

  h2 {
    font-weight: 700 !important;
    font-size: 27px !important;
    margin: 4px;
  }

  body {
    overflow-y: auto !important;
  }
  
  .main {
    display: contents !important;
    width: 82% !important;
    padding-left: 14px !important;
    width: 100%;
  }

  .column {
    min-height: 42vh !important;
  }

  .card {
    flex: 0 0 auto !important;
    width: 252px;
    height: 263px;
  }

  .column-header {
    width: 282px;
    margin: 8px 0 8px 0;
    width: 85vw;
    margin-bottom: 0px !important;
  }

  .board-card-detail-container {
    padding: 40px;
  }

  .board {
    flex-direction: column;
    width: 90vw !important;
  }

  .top-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 90vw;
    margin-top: 44px;
  }

  .add-task-btn {
    position: absolute;
    right: 16px;
    top: 4px;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 8px !important;
  }

  .add-task-btn span {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }

  .add-task-btn img {
    width: 22px;
    height: 32px;
    font-weight: 100;
  }

  .search-and-add {
    width: 100%;
    margin-top: 24px !important;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search-input {
    width: 100%;
  }

  .search-input input {
    width: 100%;
    font-size: 16px;
    padding: 12px 48px 12px 12px;
  }

  .search-input-icons {
    right: 12px;
  }

  .board-card-detail-container {
    padding: 40px;
  }

  .card-category {
    font-size: 16px !important;
    display: flex;
  }

  .board {
    margin-left: 5px !important;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 100px !important;
  }

  .card-container {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    gap: 16px;
    scroll-behavior: smooth;
    padding-bottom: 12px;
    -webkit-overflow-scrolling: touch;
  }

.card-container::-webkit-scrollbar {
        display: none;
    }

  .add-card {
    width: 30px !important;
    height: 30px !important;
  }
}