.board-card-detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 48px 40px;
  gap: 24px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 100ms ease-in-out;
  min-height: 75vh;
  max-height: 100dvh;
  overflow: hidden;
}

.card-detail-scroll-content {
  overflow-y: auto;
  width: 100%;
  max-height: calc(100dvh - 96px); 
}

.board-card-detail-container.show {
  transform: translateX(0);
  opacity: 1;
}

.board-card-detail {
  backdrop-filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 1000;
}

.card-detail-title {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  max-width: 885px;
  margin-top: 0;
  margin-bottom: 0;
}

.board-card-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-detail-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
}

.card-detail-list-title {
  color: rgba(42, 54, 71, 1);
  margin: 0px;
}

.card-detail-due-date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.card-detail-due-date p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
}

.card-detail-priority {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 63px;
}

.card-detail-priority p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
}

.card-detail-priority-content {
  display: flex;
  align-items: center;
}

.card-detail-assignee {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 8px;
  width: 445px;
  max-height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-detail-assignee p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 3px;
}

.card-detail-assignee-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-detail-assignee-content {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-detail-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 445px;
}

.card-detail-subtasks p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card-detail-subtasks-content {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 6px;
  max-height: 106px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px;
  max-width: -webkit-fill-available;
}

.card-detail-subtasks-tasks {
  display: flex;
  padding-left: 30px;
  padding-right: 36px;
  gap: 16px;
  height: fit-content;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  max-width: fit-content;
}

.card-detail-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.card-detail-delete-btn {
  background-image: url("../assets/icons/delete_contact.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 81px;
  height: 24px;
}

.card-detail-delete-btn:hover {
  background-image: url("../assets/icons/delete_contact_hover.svg");
}

.card-detail-edit-btn {
  background-image: url("../assets/icons/edit_contact.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 62px;
  height: 24px;
}

.card-detail-edit-btn:hover {
  background-image: url("../assets/icons/edit_contact_hover.svg");
}

.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #2A3647 !important;
  border-radius: 3px;
  cursor: pointer !important;
  transition: all 0.3s ease;
  background-color: white;
  display: inline-block;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: transparent;
  border: none !important;
  background-image: url(../assets/icons/check-btn.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-checkbox input[type="checkbox"]:hover {
  filter: brightness(0.9);
  background-color: transparent;
}

.custom-checkbox:hover {
  width: auto;
}

.card-detail-subtasks-tasks:hover input[type="checkbox"] {
  border-color: #68696a;
  background-color: #eaf4fc;
}

.card-detail-subtasks-tasks:hover {
  background-color: #F6F7F8 !important;
  border-radius: 8px;
}

.card-detail-subtasks-tasks:hover input[type="checkbox"] {
  border-color: #68696a !important;
  background-color: #eaf4fc;
}

.card-detail-subtasks-content::-webkit-scrollbar,
.card-detail-assignee-content::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.card-detail-subtasks-content::-webkit-scrollbar-thumb,
.card-detail-assignee-content::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}

.card-priority {
  margin-left: 10px;
}

/*---RESPONSIVE---*/

@media screen and (min-width: 1921px) {
  .board-card-detail-container {
    max-width: 1200px;
    padding: 40px 30px;
  }

  .card-detail-title {
    font-size: 70px;
    line-height: 80px;
  }

  .card-detail-description,
  .card-detail-due-date p,
  .card-detail-priority p,
  .card-detail-assignee p,
  .card-detail-subtasks p {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .board-card-detail-container {
    padding: 20px 22px;
    gap: 20px;
    width: 84vw;
  }

  .board-card-detail {
    height: -webkit-fill-available;
  }

  .card-detail-title {
    font-size: 50px;
    line-height: 60px;
  }

  .card-detail-description,
  .card-detail-due-date p,
  .card-detail-priority p,
  .card-detail-assignee p,
  .card-detail-subtasks p {
    font-size: 18px;
  }

  .card-detail-priority,
  .card-detail-due-date {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .board-card-detail-container {
    padding: 22px 14px;
    gap: 18px;
    width: 84vw;
  }

  .card-detail-title {
    font-size: 30px;
    line-height: 40px;
    margin-top: -12px;
  }

  .card-detail-subtasks-content,
  .card-detail-assignee-content {
    max-height: 100px;
    padding-top: 4px;
  }

  .card-detail-assignee,
  .card-detail-subtasks {
    width: 100%;
    height: 80px;
  }

  .card-detail-priority,
  .card-detail-due-date {
    gap: 14px;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .board-card-detail-container {
    padding: 20px 12px;
    gap: 12px;
    width: 84vw;
  }

  .card-detail-title {
    font-size: 24px;
    line-height: 30px;
  }

  .card-detail-subtasks-content,
  .card-detail-assignee-content {
    max-height: 100px;
    padding-top: 2px;
  }

  .card-detail-assignee,
  .card-detail-subtasks {
    width: 100%;
  }

  .card-detail-subtasks-tasks {
    gap: 6px;
    height: fit-content;
  }

  .card-detail-footer {
    gap: 6px;
  }

  .custom-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }

  .card-detail-description,
  .card-detail-due-date p,
  .card-detail-priority p,
  .card-detail-assignee p,
  .card-detail-subtasks p {
    font-size: 16px;
  }

  .subtask-title {
    word-break: break-word;
    padding-right: 30px;
  }
}

@media (max-height: 860px) {
  .card-detail-title {
    font-size: 32px;
  }

  .board-card-detail-container {
    padding: 10px 14px;
    gap: 12px;
    width: 84vw;
  }
}

@media (max-height: 650px) {
  .board-card-detail-container {
    padding: 6px 14px;
    gap: 12px;
    width: 84vw;
    overflow: auto;
    max-height: calc(100dvh - 12px);
  }

  .card-detail-title {
    line-height: 32px;
  }
}

@media (max-height: 590px) {
  .card-detail-subtasks {
    height: 86px;
  }
}

@media (max-height: 530px) {
  .card-detail-title {
    line-height: 32px;
  }

  .card-detail-assignee {
    height: 80px;
  }
}