.board-card-edit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 48px 40px;
  gap: 24px;
  width: 100%;
  max-width: 525px; 
  height: 100vh; 
  max-height: 100vh; 
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.board-card-edit-container.show {
  transform: translateX(0);
}

.board-card-edit-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: sticky;
  top: 16px;
}

.board-card-edit-content-wrapper {
  width: 100%;
  overflow: hidden;
}

.board-card-edit-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 24px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 24px;
  padding-bottom: 10px;
  margin-right: -24px;
}

.board-card-edit-content::-webkit-scrollbar {
  width: 6px;
}

.board-card-edit-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.board-card-edit-content::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 1);
  border-radius: 8px;
}

.board-card-edit-content label {
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 8px;
  padding-top: 20px;
}

.edit-card-users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding-top: 8px;
}

.edit-card-subtasks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 16px;
  gap: 12px;
}

.edit-card-subtasks-list ul {
  padding: 6px 16px;
}

.edit-card-subtasks-list li {
  padding-bottom: 12px;
}

.edit-card-subtasks-list li:hover {
  cursor: pointer;
  background-color: #efeeee;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
}

.card-edit-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 6px;
  width: 100%;
}

.ok-btn {
  width: 89px;
  padding: 16px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editCardDescription {
  min-height: 120px;
  max-height: 120px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  padding: 18px 16px;
}

.prio-edit {
  display: flex;
  gap: 10px;
  width: 129%;
}

.due-date-edit {
  width: 100%;
}

.form-group {
  width: 100%;
}

/*---RESPONSIVE---*/

@media (min-width: 1921px) {
  .board-card-detail-container {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .card-detail-title {
    font-size: 54px;
  }

  .form-container {
    width: 70%;
  }

  .board-card-edit-container {
    border-radius: 0px; 
    padding: 24px 16px;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card-detail-title {
    font-size: 46px;
    line-height: 56px;
  }

  .card-detail-assignee-content,
  .card-detail-subtasks {
    width: 100%;
  }

  .board-card-edit-container {
    border-radius: 0px; 
    padding: 24px 16px;
    max-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card-detail-title {
    font-size: 40px;
    line-height: 48px;
  }

  .card-detail-assignee-content,
  .card-detail-subtasks {
    width: 100%;
  }

  .board-card-detail-container {
    margin-right: 15px;
    padding-left: 24px;
    padding-right: 24px;
    width: 82vw;
  }

  .board-card-edit-container {
    border-radius: 0px; 
    padding: 24px 16px;
    max-width: 100%;
  }

  .card-detail-subtasks-tasks {
    height: 52px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  
  .board-card-detail-content {
    gap: 12px !important;
}
}

@media (max-width: 480px) {
  .board-card-detail-container {
    padding: 24px 16px;
    gap: 16px;
    width: 82vw;
  }

  .card-detail-title {
    font-size: 32px;
    line-height: 40px;
  }

  .card-detail-description,
  .card-detail-due-date p,
  .card-detail-priority p,
  .card-detail-assignee p,
  .card-detail-subtasks p {
    font-size: 16px;
    line-height: 20px;
  }

  .card-detail-subtasks p {
    margin-top: 12px !important;
  }

  .card-detail-subtasks-tasks {
    height: 42px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .card-detail-assignee-user,
  .card-detail-assignee-content,
  .card-detail-subtasks {
    width: 100%;
    padding-left: 0;
  }
}