.start {
	display: flex;
	justify-content: center;
}

.start-logo {
	display: flex;
	justify-content: center;
	padding-top: 345px;
	width: 274px;
	height: 334.07;
}

.navbar {
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	width: 232px;
	height: 100%;
	background-color: #2a3647;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.upper-navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.join-logo {
	height: 121.97px;
	width: 100.03px;
	padding-top: 64px;
	padding-bottom: 110px;
}

.summary-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 0;
	cursor: pointer;
	gap: 15px;
}

.summary-btn {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 300px;
	padding-top: 170px;
	gap: 8px;
	color: #989a9c;
	background-color: #2a3647;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}

.summary-btn a {
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
	color: inherit;
	line-height: 19.2px;
}

.summary-btn a:hover {
	color: #29abe2;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #989a9c;
}

.menu-summary-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: none;
	border: none;
	color: #cdcdcd;
	height: 46px;
	font-size: 16px;
	cursor: pointer;
	padding: 0px 20px;
	text-align: center;
	gap: 8px;
	transition: background-color 0.2s ease-in-out;
}

.menu-summary-btn span {
	padding: 0;
	margin: 0;
}

.menu-summary-btn img {
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	display: block;
}

.menu-summary-btn:active {
	background-color: #091931;
}

.menu-summary-btn.active {
	pointer-events: none;
	cursor: default !important;
}

a.active,
a.active .menu-summary-btn {
	cursor: default !important;
	color: #989a9c !important;
	font-weight: 400 !important;
}

.menu-summary-btn:hover {
	background-color: #233b59;
	height: 46px;
	transform: translateY(-2px);
}

.summary-menu a {
	display: flex;
	align-items: center;
	width: 100%;
	text-decoration: none;
	color: #cdcdcd;
}

.board-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 44px;
}

.board-btn span {
	display: flex;
	align-items: center;
}

.navbar-size {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-right: 40px;
	padding-left: 348px;
	box-shadow: 0px 4px 4px 0px #0000001a;
	font-size: 20px;
	height: 96px;
	align-items: center;
}

.help-btn {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.user-btn {
	width: 56px;
	height: 56px;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	border-color: black;
	border-style: solid;
	clip-path: none;
}

.user-btn:hover {
	background-color: rgb(230, 230, 230);
}

.dropdown {
	display: flex;
	align-items: center;
	gap: 16px;
}

.dropdown-content {
	color: rgb(164, 167, 172);
	display: none;
	position: absolute;
	background-color: #2a3647;
	min-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0;
	border-radius: 20px 0px 20px 20px;
	border: 1px solid #e0e0e0;
	margin-top: 260px;
	overflow: hidden;
}

.dropdown-content a {
	color: #989a9c;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
	background-color: #233b59;
}

.dropdown-content.show {
	display: block;
}

.active {
	background-color: #091931;
}

.userCredentials {
	color: rgba(41, 171, 226, 1);
	font-size: medium;
	font-weight: bold;
}

.mobile-join-logo {
    height: -webkit-fill-available;
    padding: 8px 0;
    display: none;
    height: 50%;
}

.mobile-navbar {
    display: none;
    position: fixed;
    width: -webkit-fill-available;
    height: 80px;
    padding: 0 16px;
    bottom: 0;
    left: 0;
    background-color: #2a3647;
    z-index: 1000;
}

.mobile-login-img {
	width: 24px;
	height: 24px;
}

.mobile-login-link {
	height: 46px;
}

.empty-container {
	width: 24px;
}

@media (max-width:768px) {
    .mobile-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-join-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header p {
        display: none;
    }

    .header {
        padding: 0 16px;
    }

    .user-btn {
        height: 40px;
        width: 40px;
    }

    .help-btn{
        display: none;
    }

    .menu-summary-btn {
        flex-direction: column;
        gap: 10px;
        font-size: initial;
        padding: 0;
    }

	.menu-summary-btn:hover {
		transition: none;
		transform: none;
		background-color: #2a3647;
	}

	.menu-summary-btn.active {
		height: 76px;
		border-radius: 16px;
		padding: 8px 12px;
	  }

    .board-btn {
        padding-right: 0;
    }
  
    .login-navbar {
      margin-bottom: 150px;
    }

}