.help-body-wrapper {
    margin: 179.2px 135.5px 0 96px;
}

.top-bar {
    position: absolute;
    top: 156px;
    left: 324px;
    width: calc(100% - 431.5px);
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.top-bar h1 {
    font-size: 61px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.back-btn-container {
    position: sticky;
    top: 50px;
    width: 24px;
    margin: 18px 0 0 0;
}

.back-btn {
    height: 20.74px;
    background-image: url('../assets/icons/go-back.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    cursor: pointer;
    width: 100%;
}

.back-btn:hover {
    background-image: url('../assets/icons/go-back-hover.svg');
}

.back-btn-container:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: #E2E6EC;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.keyword-join {
    color: rgba(41, 171, 226, 1);
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

h3 {
    font-size: 27px;
    font-weight: 700;
    margin: 24px 0;
}

span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin: 0 0 16px 0;
}

li {
    margin: 0 0 16px 0;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-counter {
    font-size: 27px;
    font-weight: 700;
    line-height: 32.4px;
    margin: 0;
}

.list-element {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

.end-message {
    margin: 30px 0 0 0;
    padding: 0 0 24px 0;
}

@media (max-width: 768px) {

    .main-help {
        width: calc(100% - 54px);
    }
    .help-body-wrapper {
       margin: 112px 16px 0 16px;
    }

    .top-bar {
        width: calc(100% - 85px);
        top: 128px;
        left: 14px;
    }

    .top-bar h1 {
        margin: 0;
        font-size: 47px;
        line-height: 120%;
    }

    .back-btn-container {
        position: relative;
        top: auto;
        margin: 18px;
    }

    section p:last-of-type {
        margin-bottom: 96px;
    }

    .end-message {
        display: none;
    }
}