.landscape-warning {
    display: block;
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
}