.log-in-page {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.log-in-header img {
    position: relative;
    top: 80px;
    left: 77px;
}

.link-to-sign-up-page {
    position: absolute;
    top: 67px;
    display: flex;
    align-items: center;
    gap: 35px;
    right: 122px;
}

.link-to-sign-up-page p {
    font-weight: 400;
    font-size: 20px;
}

.link-to-sign-up-page a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 16px 15px 16px;
}

.sign-up-btn {
    height: 48px;
    width: 91px;
    padding: 15px 16px 15px 16px;
    font-size: 16px;
}

.log-in-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.log-in-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-radius: 30px;
    background-color: white;
    padding: 48px 115px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.horizontal-line {
    width: 150px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 3px;
}

.log-in-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 122px;
    width: 125%;
}

.log-in-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.log-in-title h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.log-in-title button {
    clip-path: none;
    background-color: white;
    border: none;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.log-in-input-field {
    width: 374px;
    height: 16px;
    padding: 16px 32px 16px 16px;
    align-content: center;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
}

.input-bg-email {
    background-image: url(../assets/icons/mail_icon.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 26px center;
}

.input-password-wrapper {
    position: relative;
}

.input-password-wrapper img {
    position: absolute;
    top: 25px;
    right: 27px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.login-btn-wrapper {
    display: flex;
    gap: 35px;
}

.log-in-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 40px;
}

.log-in-footer a {
    color: grey;
    text-decoration: none;
}

.input-mismatch {
    border: 1px solid rgba(255, 0, 31, 1);
}

.failed-login {
    position: absolute;
    top: calc(100% - 12px);
    left: 0;
    color: red;
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
}

/*---RESPONSIVE---*/

@media (min-width: 1025px) and (max-width: 1200px) {
   
    .log-in-header img {
        width: 90px;
        top: 32px;
        left: 24px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
   
    .log-in-title h1 {
        font-size: 54px;
    }

    .log-in-input-field {
        width: 90%;
    }

    .login-btn-wrapper {
        flex-direction: row;
        justify-content: center;
        font-size: 16px;
        white-space: nowrap;

    }

    .log-in-form {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .log-in-header img {
        width: 80px;
        top: 32px;
        left: 24px;
    }

    .input-password-wrapper {
        width: 100%;
    }

    .input-password-wrapper img {
        position: absolute;
        top: 25px;
        right: 10px;
        transform: translateY(-50%);
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    .horizontal-line {
        width: 110px;
        border: 2px solid rgba(41, 171, 226, 1);
        border-radius: 3px;
    }

    .log-in-wrapper {
        width: 80%;
        padding: 40px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .log-in-title h1 {
        font-size: 48px;
    }

    .log-in-input-field {
        width: 100%;
        max-width: 340px;
        font-size: 18px;
        height: 52px;
        padding: 0 40px 0 16px;
        border: 1px solid rgba(209, 209, 209, 1);
        border-radius: 10px;
        line-height: 52px;
    }

    .login-btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 16px;
        margin-top: 16px;
    }

    .login-btn-wrapper button {
        width: 100%;
        max-width: 250px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        text-align: center;
    }

    .log-in-header img {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 70px;
    }

    .input-password-wrapper {
        width: 100%;
        max-width: 340px;
        position: relative;
    }

    .input-password-wrapper img {
        position: absolute;
        top: 39%;
        right: 27px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: all;
        cursor: pointer;
    }

    .link-to-sign-up-page {
        display: flex;
        position: absolute;
        top: 782px;
        bottom: 80px;
        right: 50%;
        transform: translateX(50%);
        gap: 20px;
        align-items: center;
        z-index: 10;
        margin-bottom: 40px;
    }

    .link-to-sign-up-page p {
        font-size: 18px;
    }

    .sign-up-btn {
        font-size: 14px;
        padding: 10px 12px;
    }
}

@media (max-width: 500px) {
    .link-to-sing-up-page {
        display: flex;
        position: absolute;
        top: 782px;
        bottom: 80px;
        right: 50%;
        transform: translateX(50%);
        gap: 20px;
        align-items: center;
        z-index: 10;
        margin-bottom: 40px;
    }

    .link-to-sign-up-page p {
        font-size: 19px;
        white-space: nowrap;
    }

    .sign-up-btn {
        font-size: 14px;
        padding: 10px 12px;
    }

    .log-in-header img {
        width: 70px;
    }

    .horizontal-line {
        width: 100px;
        border: 1px solid rgba(41, 171, 226, 1);
        border-radius: 3px;
    }

    .log-in-header img {
        position: absolute;
        top: 26px;
        left: 26px;
        width: 60px;
        height: auto;
        max-width: 15vw;
        opacity: 1;
      }
}

@media (max-width: 480px) {

    * {
        box-sizing: border-box;
    }

    .log-in-wrapper {
        padding: 32px 20px;
        width: 100%;
    }

    .log-in-title h1 {
        font-size: 38px;
        line-height: 44px;
    }

    .log-in-input-field {
        width: 100%;
        font-size: 16px;
    }

    .login-btn-wrapper {
        flex-direction: column;
        gap: 16px;
        width: 80%;
    }

    .log-in-header img {
        position: absolute;
        top: 26px;
        left: 26px;
        width: 60px;
        height: auto;
        max-width: 15vw;
      }

    .link-to-sign-up-page {
        top: 24px;
        right: 24px;
        gap: 10px;
    }

    .link-to-sign-up-page p {
        font-size: 16px;
    }

    .sign-up-btn {
        font-size: 14px;
        padding: 10px 12px;
    }

    .log-in-footer {
        gap: 10px;
        bottom: 20px;
    }

    .input-password-wrapper {
        width: 100%;
        max-width: 340px;
        position: relative;
    }

    .input-password-wrapper img {
        position: absolute;
        top: 39%;
        right: 27px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: all;
        cursor: pointer;
    }

    .log-in-content {
        width: 90%;
    }

    .login-btn-wrapper button {
        width: 100%;
        max-width: 280px;
        padding: 12px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        text-align: center;
    }

    .log-in-header {
        position: relative;
        padding: 0 16px;
    }

    .log-in-input-field {
        width: 100%;
        max-width: 340px;
        font-size: 18px;
        height: 52px;
        padding: 0 40px 0 16px;
        border: 1px solid rgba(209, 209, 209, 1);
        border-radius: 10px;
        line-height: 52px;
    }

    .link-to-sign-up-page {
        display: flex;
        position: absolute;
        top: 782px;
        bottom: 80px;
        right: 50%;
        transform: translateX(50%);
        gap: 20px;
        align-items: center;
        z-index: 10;
        margin-bottom: 40px;
    }

    .link-to-sign-up-page p {
        font-size: 17px;
        white-space: nowrap;
    }

    .sign-up-btn {
        font-size: 14px;
        padding: 10px 12px;
    }

    .horizontal-line {
        width: 80px;
        border: 1px solid rgba(41, 171, 226, 1);
        border-radius: 3px;
    }
}