.button-dark-large {
    width: 356px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    padding: 15px 24px 15px 24px;
    transition: all 125ms;
    align-items: center;
    gap: 16px;
}

.contact-letter-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 352px;
}

.contact-letter {
    padding: 17px 36px 17px 38px;
    padding-bottom: 0px;
    font-size: 20px;
    width: 352px;
    height: 58px;
    gap: 8px;
}

.contact-placeholder {
    padding: 15px 24px 15px 24px;
}

.contact-placeholder:hover {
    background-color: #F6F7F8;
}

.contact-placeholder-item {
    display: flex;
    align-items: flex-start;
    min-height: 78px;
    font-size: 20px;
    padding-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-top: 4px;
}

.contact-placeholder-item:hover {
    border-radius: 10px;
    background-color: #F6F7F8;
    height: 76px;
}

.contact-placeholder-item.active {
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.contact-placeholder-item.active {
    color: #fff;
}

.contact-icon-placeholder {
    width: 42px;
    height: 42px;
    gap: 10px;
    background-color: #6200ea;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 35px;
    margin-left: 25px;
    box-shadow: inset 0 0 0 2px white;
}

.contact-info-placeholder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-overflow: ellipsis;
}

.contact-email-placeholder {
    font-size: 16px;
    color: #208CF0;
    text-overflow: ellipsis;
}

.contact-divider {
    border-bottom: groove;
    width: 352px;
    height: 1px;
    background-color: #D1D1D1;
    box-sizing: border-box;
    border-radius: 3px;
}

.contact-list-wrapper {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #A8A8A8 transparent;
    position: relative;
}

.contact-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 32px;
    overflow-y: auto;
    box-sizing: border-box;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 515px;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}

.contact-detail.show {
    transform: translateX(0);
}

.contact-view {
    display: flex;

}

.contact-detail-name {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: 32px;
}

.namefield {
    display: flex;
    flex-direction: column;
    font-size: 47px;
    gap: 8px;
}

.edit-button {
    height: 24px;
    width: 62px;
    margin-right: 25px;
}

.delete-button {
    width: 81px;
}

.edit-button:hover,
.delete-button:hover {
    color: rgba(41, 171, 226, 1);
}

.edit-button:hover img,
.delete-button:hover img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(86%) saturate(492%) hue-rotate(162deg) brightness(92%) contrast(91%);
}

.edit-button img,
.delete-button img {
    width: 24px;
    height: 24px;
}

.contact-actions {
    display: flex;
    justify-content: flex-start;
    margin-block: auto;
}

.contact-action-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    height: 24px;
}

.contact-action-button span {
    font-size: 16px;
    font-weight: 400;
}

.contact-detail-wrapper h2 {
    margin: 0;
}

.contact-detail {
    padding: 16px 0;
}

.contact-icon-placeholder-large {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: bold;
    color: white;
    gap: 10px;
    box-shadow: inset 0 0 0 3px white;
}

.contact-info-section {
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.contact-info-section h4 {
    margin-bottom: 15px;
    gap: 59px;
    font-size: 20px;
    font-weight: 400;
    height: 74px;
    width: 207px;
}

.contact-info-section p {
    margin: 5px 0;
    color: #333;
    margin-bottom: 15px;
}

.contact-info-section p strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    gap: 15px;
}

.contact-info-section a {
    color: #208CF0;
    text-decoration: none;
}

.contact-info-section a:hover {
    text-decoration: underline;
}

@media (max-width: 1440px) {
    .contact-icon-placeholder-large {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    .contact-detail-name {
        gap: 27px;
    }
}

@media (max-width: 1200px) {

    .button-dark-large {
        width: 200px;
    }

    .button-dark-large span {
        display: none;
    }

    .contact-letter-section {
        width: 100%;
    }

    .contact-letter {
        width: 100%;
        padding-left: 66px;
    }

    .contact-placeholder-item {
        align-items: center;
        padding: 0;
    }

    .contact-icon-placeholder {
        width: 30px;
        height: 30px;
        margin: 0 8px;
        font-size: 12px;
    }

    .contact-divider {
        width: 200px;
    }
}

@media (max-width: 1024px) {

    .headline-kanban {
        font-size: 16px;
    }

    .contact-icon-placeholder-large {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .contact-detail-name {
        gap: 12px;
    }

    .contact-info-section h4 {
        font-size: 16px;
        height: 32px;
    }

    .contact-action-button {
        gap: 4px;
    }

    .contact-action-button img {
        width: 18px;
    }

    .contact-action-button span {
        font-size: 14px;
    }

    .edit-button {
        margin: 0;
        padding-left: 0;
    }
}

@media (max-width: 768px) {

    .mobile-btn {
        position: absolute;
        bottom: 100px;
        right: 20px;
        justify-content: center !important;
    }

    .mobile-btn {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2)
    }

    .mobile-btn button:hover {
        background-color: rgba(42, 54, 71, 1);
    }

    .contact-details-view {
        height: 100vh;
        overflow-y: auto;
    }

    .contact-detail-wrapper {
        width: 480px;
        padding: 24px;
        display: flex;
        align-items: start;
    }

    .contact-detail {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        min-width: 300px;
        width: 480px;
        transform: none;
        transition: none
    }

    .contact-detail.show {
        transform: none;
        width: 300px;
    }

    .contact-list-wrapper {
        position: static;
    }

    .contact-list-header {
        display: none;
    }

    .contact-list-wrapper {
        width: 100%;
    }

    .contact-letter-section:first-of-type .contact-letter {
        margin-top: 40px;
    }

    .contact-letter {
        height: 44px;
        padding-top: 24px;
        padding-left: 76px;
        padding-right: 0;
    }

    .contact-placeholder-item {
        font-size: 20px;
        padding-top: 0px;
        margin-top: 0;
        width: 100%;
    }

    .contact-icon-placeholder {
        width: 42px;
        height: 42px;
        gap: 10px;
        font-size: 20px;
        margin-right: 35px;
        margin-left: 25px;
    }

    .contact-icon-placeholder-large {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    .contact-placeholder-item:hover {
        cursor: default;
        background-color: white;
    }

    .contact-email-placeholder {
        font-size: 16px;
    }

    .contact-divider {
        width: 400px;
    }

    .contact-list-view {
        width: 100%;
    }

    .contact-list-wrapper {
        width: 100%;
        padding: 0;
    }

    .contact-actions {
        display: none;
    }

    .namefield span {
        font-size: 28px;
        font-weight: bold;
    }
}

@media (max-width: 480px) {

    .contact-detail-wrapper {
        width: 300px;
        padding: 0;
    }

    .contact-icon-placeholder {
        margin-right: 20px;
        margin-left: 0px;
    }

    .contact-letter {
        padding-left: 24px;
    }

    .contact-divider {
        width: 300px;
    }

    #contactList .contact-letter-section:last-of-type .contact-placeholder-item:last-child {
        margin-bottom: 20px;
    }

    .mobile-btn {
        height: 44px;
        width: 44px;
    }

    .mobile-btn img {
        height: 24px;
        width: 24px;
    }

    .contact-icon-placeholder-large {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .namefield span {
        font-size: 18px;
    }

    .contact-detail-header {
        top: 32px;
    }

    .contact-detail {
        top: 0px;
        padding: 0;
        margin: 0;
    }

    .contact-info-section h4 {
        margin-top: 0;
        height: auto;
    }

    .contact-info-section p {
        margin-top: 0;
    }

    .contact-detail-name {
        margin-bottom: 8px;

    }
}

@media (max-height: 600px) {
    .contact-detail-wrapper {
        max-height: calc(100vh - 96px);
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8 transparent;
    }

    .contact-detail {
        padding-bottom: 150px;

    }
}

@media (max-height: 500px) {
    .contact-detail {
        padding-bottom: 100px;

    }
}

@media (max-height: 400px) {
    .contact-detail {
        padding-bottom: 100px;

    }
}