main {
  display: flex;
}
.sign-up-sidebar {
  padding-top: 80px;
  padding-left: 77px;
}
.sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  top: 197px;
}
.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  /* width: 422px;
    height: 534px; */
  border-radius: 30px;
  background-color: white;
  padding: 48px 88px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  ;
}
.sign-up-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sign-up-header img {
  background-color: white;
}
.sign-up-header button {
  clip-path: none;
  background-color: white;
  border: none;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.sign-up-form input {
    border-color: #D1D1D1;
}
.sign-up-form-checkbox-box {
    display: flex;
    align-items: center;
    gap: 8px;
}
.sign-up-terms-of-conditions {
    color: grey;
}
.sign-up-terms-of-conditions a {
    text-decoration: none;
    color: rgba(41, 171, 226, 1);

}
.sign-up-form button {
  background-color: rgba(9, 25, 49, 1);
  color: white;
  padding: 15px 24px;
  border-radius: 8px;
  width: 126px;
  height: 55px;
}
.sign-up-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 122px;
}
.sign-up-footer a {
  color: grey;
  text-decoration: none;
}
