body.animating .mobile-navbar,
body.animating .header {
    display: none !important;
}

a {
    text-decoration: none;
    color: #989A9C;
}

.tasks-awaiting-btn {
    display: flex;
}

.layout {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 96px;
    gap: 30px;
}

* {
    margin: 0;
    padding: 0;
}

.to-do-dashboard {
    display: flex;
    flex: 1;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 40px 40px 96px;
    max-width: 900px;
    width: 560px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.dashboard.visible {
    display: flex;
    opacity: 1;
    max-height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-todo {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 3;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 29px;
    gap: 18px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 168px;
}

.card-pencil {
    width: 69px;
}

.card-ok {
    width: 69px;
}

.card h1 {
    font-size: 3rem;
    color: #2b2b2b;
}

.card p {
    font-size: 1.2rem;
    color: #666;
}

.large-card {
    flex: 1;
    max-width: 100%;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.urgent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding-right: 65px;
}

.urgent-img {
    filter: brightness(1) saturate(100%) invert(0%) sepia(0%) saturate(100%) hue-rotate(3deg) brightness(98%) contrast(116%) !important;
}

.urgent-info {
    border-left: 2px solid #E8E8E8;
    text-align: left;
    margin-top: 10px;
    padding-left: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.urgent-info p:first-child {
    font-weight: bold;
}

.urgent-info p:nth-child(2) {
    color: #2b2b2b;
}

.urgent-info p:last-child {
    color: #888;
    font-size: 0.9rem;
}

.card:hover {
    background-color: #2A3647;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card img {
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.card:hover img {
    filter: brightness(0) invert(1);
    filter: invert(200%) contrast(400%);
}

.urgent-img:hover {
    background-color: #FF3D00;
}

.card-todo:hover img,
.card:hover p,
.card:hover h1 {
    color: white;
}

.greeting {
    font-size: 47px;
    text-align: right;
}

.greeting-name {
    color: #29ABE2;
    font-weight: 700;
    line-height: 76.8px;
    font-size: 64px;
}

.greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
}

.card:hover img {
    mix-blend-mode: lighten;
}

.last-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.greeting-wrapper {
    display: grid;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.title-default {
    display: block;
}

.title-responsive,
.title-line {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*---RESPONSIVE---*/

@media screen and (min-width: 1380px) and (max-width: 1920px) {
    .dashboard {
        max-width: 1200px;
    }

    .greeting-wrapper {
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1380px) {
    .dashboard {
        max-width: 1000px;
        padding-bottom: 80px;
    }

    html,
    body {
        overscroll-behavior: none;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .card,
    .large-card {
        height: clamp(300px, 60vh, 700px);
        max-height: 80vh;
        padding: 1rem;
    }

    .card {
        height: 160px;
        padding: 0 20px;
    }

    .layout img {
        width: 80%;
    }

    .layout {
        padding-left: 76px;
        padding-top: 50px;
    }

    .dashboard.visible {
        display: flex;
        opacity: 1;
        padding-left: 64px;
        padding-top: 20px;
        width: 435px;
    }

    .greet {
        padding-left: 0px;
    }

    .greeting {
        font-size: 28px;
    }

    .greeting-name {
        font-size: 36px;
    }

    .urgent-box {
        padding-right: 40px;
    }

    .urgent-info {
        padding-left: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .dashboard {
        padding: 30px 30px 60px 30px;
        width: 435px;
    }

    html,
    body {
        overscroll-behavior: none;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .card {
        height: 18vh;
    }

    .layout img {
        width: 70%;
    }

    .layout {
        padding-left: 76px;
        padding-top: 50px;
    }

    .dashboard.visible {
        display: flex;
        opacity: 1;
        padding-left: 64px;
    }

    .greeting-wrapper {
        animation: summaryAnimation 2s forwards;
        position: fixed;
        inset: 0;
        z-index: 100;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    .greeting-wrapper.hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none !important;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    @keyframes summaryAnimation {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        70% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }

    .urgent-box {
        padding-right: 40px;
    }

    .urgent-info {
        padding-left: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    main {
        width: calc(100% - 20px) !important;
        margin-left: -10px;
    }

    html,
    body {
        overscroll-behavior: none;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .card,
    .large-card {
        max-height: 8vh;
        padding: 1rem;
    }

    .card h1 {
        font-size: 1.8rem;
    }

    .card p {
        font-size: 1.1rem;
    }

    .card-pencil {
        width: 45px;
    }

    .card-ok {
        width: 45px;
    }

    .urgent-img {
        width: 42px;
        margin-left: 35px;
    }

    .last-section {
        gap: 31px;
    }

    .dashboard {
        padding: 30px 20px 30px 20px;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .greet {
        display: flex !important;
    }

    .dashboard.visible {
        opacity: 1;
        padding-left: 52px;
        padding-top: 0;
        width: 80%;
    }

    .layout img {
        width: 90%;
    }

    .layout {
        justify-content: center !important;
        padding-top: 30px;
        padding-left: 35px;
    }

    .to-do-dashboard {
        display: block;
        padding-bottom: 100px !important;
    }

    .greeting-wrapper.hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .greeting-wrapper {
        opacity: 1;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .urgent-info p:first-child {
        font-weight: bold;
        padding-right: 20px;
    }

    .urgent-info p:last-child {
        padding-right: 20px;
    }

    .urgent-box {
        padding-right: 30px;
    }

    .urgent-info {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 50px;
        height: 42px;
    }

    .greeting-wrapper {
        animation: summaryAnimation 2s forwards;
        position: fixed;
        inset: 0;
        z-index: 100;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    .greeting-wrapper.hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none !important;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    @keyframes summaryAnimation {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        70% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
}

@media (max-width: 570px) {
    .dashboard {
        padding: 10px;
        width: 80%;
        flex: 1;
        display: block;
        height: 100px;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 1.1rem;
        gap: 10px
    }

    .dashboard.visible {
        width: auto;
        padding-left: 10px;
        padding-bottom: 100px !important;
    }

    .join-title {
        font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 15px;
    }

    .join-subtitle {
        font-size: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .join-line {
        width: 100%;
        height: 4px;
        margin-top: 15px;
        background-image: url('../assets/img/join-title-line.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        margin-left: 15px;
    }

    .large-card {
        padding: 10px 20px;
    }

    .layout img {
        display: none;
    }

    .card {
        height: 66px;
    }

    .card h1 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1.1rem;
    }

    .card-pencil {
        width: 45px;
    }

    .card-ok {
        width: 45px;
    }

    .urgent-img {
        width: 42px;
        margin-left: 35px;
    }

    .urgent-info {
        height: 56px;
    }

    .greeting {
        font-size: 42px;
        text-align: center;
    }

    .greeting-name {
        font-size: 50px;
        line-height: 1.2;
    }

    .greet {
        align-items: center;
        padding-left: 0;
    }

    .greeting-wrapper {
        padding: 20px;
    }

    .greeting-animation {
        display: flex;
    }

    .greeting-wrapper {
        animation: summaryAnimation 2s forwards;
        position: fixed;
        inset: 0;
        z-index: 100;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    .greeting-wrapper.hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none !important;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    @keyframes summaryAnimation {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        70% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
}

@media (max-width: 480px) {
    .dashboard {
        padding: 5px;
        width: 100%;
        flex: 1;
        font-size: 1.1rem;
    }

    .card h1 {
        font-size: 1.5rem;
    }

    .card {
        padding: 5px;
        height: 80px;
        gap: 10px;
        border-radius: 20px;
    }

    .large-card {
        padding: 10px 20px;
    }

    .layout img {
        display: none;
    }

    .card {
        height: 90px;
    }

    .card h1 {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 1.0rem;
    }

    .card-pencil {
        width: 45px;
    }

    .card-ok {
        width: 45px;
    }

    .urgent-img {
        width: 42px;
        margin-left: 12px;
    }

    .urgent-info p:first-child {
        font-weight: bold;
        padding-right: 26px;
    }

    .urgent-info p:last-child {
        padding-right: 26px;
    }

    .greeting-wrapper {
        animation: summaryAnimation 2s forwards;
        position: fixed;
        inset: 0;
        z-index: 100;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    .greeting-wrapper.hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none !important;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    @keyframes summaryAnimation {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        70% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
}

@media (max-width: 440px) {
    .dashboard {
        padding: 5px;
        width: 100%;
        flex: 1;
        font-size: 1.1rem;
        gap: 10px;
    }

    .last-section {
        gap: 11px;
    }

    .card-todo {
        width: 96%;
    }

    .card {
        padding: 8px;
        height: 80px;
        gap: 6px;
        border-radius: 15px;
    }

    .card h1 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 16px;
    }

    .card-pencil,
    .card-ok {
        width: 40px;
    }

    .greeting {
        font-size: 42px;
        text-align: center;
    }

    .greeting-name {
        font-size: 50px;
        line-height: 1.2;
    }

    .greet {
        padding-left: 0;
        font-size: 1.1rem;
        align-items: center;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .greeting-wrapper {
        padding: 5px;
        text-align: center;
    }

    .card-todo {
        width: 98%;
        gap: 18px;
    }

    .urgent-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        flex-wrap: nowrap;
        padding-right: 0px;
    }

    .urgent-info {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.1rem;
    }

    .urgent-info p {
        margin: 0;
        padding: 2px 0;
    }

    .urgent-img {
        width: 40px;
        margin-left: 8px;
    }

    .join-title {
        font-size: 42px;
    }

    .join-subtitle {
        font-size: 22px;
    }

    .join-line {
        height: 6px;
        margin-top: 10px;
    }

    .greeting-wrapper {
        animation: summaryAnimation 2s forwards;
        position: fixed;
        inset: 0;
        z-index: 100;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    .greeting-wrapper.hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none !important;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    @keyframes summaryAnimation {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        70% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
}

@media (max-width: 405px) {
    .dashboard {
        padding: 4px;
        width: 100%;
        font-size: 1rem;
        gap: 8px;
    }

    .dashboard.visible {
        padding-left: 8px;
        padding-bottom: 80px;
    }

    .card {
        padding: 8px;
        height: 90px;
        gap: 6px;
        border-radius: 12px;
    }

    .card h1 {
        font-size: 1.1rem;
    }

    .card p {
        font-size: 0.9rem !important;
    }

    .card-pencil {
        width: 30px;
    }

    .card-ok {
        width: 30px;
    }

    .urgent-box {
        flex-wrap: wrap;
        gap: 6px;
        padding: 0 5px;
    }

    .urgent-info {
        font-size: 1rem;
        padding-left: 8px;
    }

    .urgent-img {
        width: 30px;
        margin-left: 12px;
    }

    .greeting {
        font-size: 36px;
    }

    .greeting-name {
        font-size: 42px;
    }

    .greet {
        font-size: 1rem;
    }

    .join-title {
        font-size: 35px;
    }

    .join-subtitle {
        font-size: 18px;
    }

    .join-line {
        height: 4px;
        margin-top: 10px;
    }
}

@media (max-width: 319px),
(max-height: 900px) {
    .layout img {
        width: 70% !important;
    }

    .layout {
        padding-left: 76px;
        padding-top: 30px;
    }

    .greet {
        padding-left: 10px;
    }

    .greeting {
        text-align: start;
    }
}

@media (max-height: 800px) {

    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    .to-do-dashboard {
        max-height: 400px;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-height: 636px) {

    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    .join-title {
        margin-top: 10px;
    }

    .to-do-dashboard {
        max-height: 370px;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-height: 610px) {
    .to-do-dashboard {
        max-height: 210px;
        -webkit-overflow-scrolling: touch;
    }

    .join-title {
        font-size: 25px;
    }

    .join-subtitle {
        font-size: 18px;
    }

    .join-line {
        height: 4px;
        margin-top: 10px;
    }
}

@media (max-height: 445px) {
      .to-do-dashboard {
        max-height: 210px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}